<footer>
    <div class="footer-container">
      <h3 class="logo-text-in-footer"> Cleveland </h3>
      <p class="footer-text"> If you are interested in our product, you can sign in here  </p>
      <button class="sign-in-button"> Sign in </button> <br>          
      <a href="#to-the-top" class="back-to-top-button"> Back to top </a>               
    </div>  
  </footer>
  </div>

  <script src="button.js"></script>  
  </body>
</html>