<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Daniil Tsvetkov" />
    <meta name="description" content="Test page" />
    <meta name="keywords" content="test,site,html" />
    <title>Cleveland</title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />   
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>    

    <a name="to-the-top"></a>
    
    <header>
      <div class="header" id="header">
        <div>
          <img class="logo-image" src="https://svgsilh.com/svg/1300236-ffffff.svg" alt="logo">
        </div>
        <h1 class="logo-text">Cleveland</h1>

        <input class="header-input" type="text" placeholder="Enter request" />
        <button class="search-button">
          <img class="search-button-image" src="https://svgsilh.com/svg/1093184-ffffff.svg" alt="search">
        </button>
        
        <nav>
          <ul class="header-nav">
            <a href="#" title="Home">Home &#8962</a>
            <a href="#" title="Catalog">Catalog &#128366</a>
            <a href="/shopping-cart" class="pop-up-open" title="Cart">Cart &#9285</a> 
            <a href="#" title="Profile">Profile &#9776</a>
          </ul>          
        </nav>
      </div>  
    </header>