<div class="welcome-part">
  <div class="text-container">
    <div>
      <img
        class="logo-image"
        id="logo-image-2"
        src="https://svgsilh.com/svg/1300236-ffffff.svg"
        alt="logo"
      />
    </div>
    <h1 class="header-text-welcome-part">Cleveland</h1>
    <div class="text-welcome-part">
      <p>
        "Create your own visual style ... Make it unique to you and recognizable
        to others at the same time."
      </p>
      <br />
      <p style="text-align: right">- Orson Welles</p>
      <br />
      <p>
        Choose what suits you best here in <b>Cleveland</b>. Create your own
        fashion and be the best version of yourself
      </p>
      <br />
      <p>Welcome</p>
    </div>
  </div>
</div>
